body {
    background-image: url(./images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    text-align: center;
    width: 100%;
    background-position: top;
    font-family: 'Bai Jamjuree';
}
.snippets {
    text-align: left;
    margin-left: 52rem;
    margin-top: 10rem;
    max-width: 22rem;
}
.computer {
    float: left;
    position: relative;
    right: 1.875rem;
}
.box2 {
    clear: left;
    margin: 15rem 0 1rem 0;
}
.box2 p {
    margin: 1rem 20%;
    font-size: 1.0625rem;
}
.box3 h2 {
    margin-bottom: 1rem;
}
.box3 p {
    font-size: 1.0625rem;
}
.box3 p:nth-child(2) {
    margin: 0 auto;
}
.tools {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 5rem auto 10rem auto;
}
.tools h3 {
    margin: 3rem 0 1rem 0;
}
.tools p {
    font-size: 1rem;
    line-height: 2.0;
}
.blacklist, .preview, .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
}
.icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.box4 {
    margin: 10rem 0;
}
.box4 h2 {
    margin-bottom: 1rem;
}
.box4 p {
    width: 70%;
    font-size: 1.0625rem;
    margin: 0 auto;
    margin-bottom: 2rem;
}
p {
    font-weight: 400;
    color: hsl(201, 11%, 66%);
    font-size: 0.95rem;
}
.logo {
    margin: 8rem auto 4rem auto;
}
h1, h2, h3 {
    font-weight: 600;
    color: hsl(210, 10%, 33%);
}
h1 {
    font-size: 2.75rem;
}
h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.43rem;
}
.ios {
    padding: 0.9375rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color: hsl(171, 66%, 44%);
    box-shadow: 0 0.1875rem 0rem hsl(171, 66%, 38%);
    color: hsl(0, 0%, 100%);
    font-size: 1.125rem;
    font-weight: 600;
}
.mac {
    padding: 0.9375rem 2.5rem;
    border: none;
    border-radius: 2rem;
    background-color: hsl(233, 100%, 69%);
    box-shadow: 0px 0.1875rem 0rem hsl(233, 100%, 65%);
    color: hsl(0, 0%, 100%);
    font-size: 1.125rem;
    margin: 1rem;
    font-weight: 600;
}
.ios:hover {
    cursor: pointer;
    background-color: hsl(171, 66%, 50%);
}
.mac:hover {
    cursor: pointer;
    background-color: hsl(233, 100%, 78%);
}
.introduction p {
    font-size: 1.25rem;
    margin: 1rem 20%;
}
.box1 p {
    margin: 1rem 20% 5.5rem;
    font-size: 1.125rem;
}
.snippets p {
    font-size: 1rem;
    margin-bottom: 4rem;
}
.snippets h3 {
    margin-bottom: 0.5rem;
}
.devices {
    margin: 0 auto;
    margin-top: 7rem;
    margin-bottom: 4rem;
}
footer {
    background-color: hsl(201, 11%, 97%);
    display: flex;
    min-width: none;
    height: 10rem;
    justify-content: space-around;
    align-items: center;
}
footer img {
    width: 3.5rem;
    height: min-content;
}
footer .info {
    display: flex;
    flex-direction: column;
    height: 4rem;
    flex-wrap: wrap;
    flex-basis: 50%;
    justify-content: space-between;
    text-align: left;
    font-size: 1.1875rem;
}
.info a {
    color: hsl(210, 10%, 33%);
    text-decoration: none;
}
.info a:hover {
    cursor: pointer;
    color:hsl(171, 66%, 44%)
}
footer .social-media {
    flex-basis: 20%;
    color: hsl(210, 10%, 33%);
    display: flex;
    justify-content: center;
    column-gap: 1rem;
}
.social-media i:hover {
    cursor: pointer;
    color: hsl(171, 66%, 44%);
}
.lg {
    flex-basis: 20%;
    display: flex;
    justify-content: center;
}
@media screen and (max-width: 1025px) {
    .computer {
        float: none;
    }
    .snippets {
        padding-top: 3rem;
        margin: 3rem auto 0 auto;
        text-align: center;
    }
    .icons {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2rem;
    }
}
@media screen and (max-width: 600px) {
    .computer {
        margin: 0 auto;
        padding: 0 0.3125rem 0 0.3125rem;
        position: static;
    }
    body {
        background-image: url(./images/bg-header-mobile.png);
    }
    h1 {
        font-size: 2.1rem;
    }
    .introduction p {
        width: 90%;
        margin: 1rem auto 2rem auto;
        font-size: 1rem;
    }
    .ios, .mac {
        width: 90%;
    }
    h2 {
        font-size: 1.9rem;
    }
    .box1 p {
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 4rem;
    }
    .snippets {
        margin-top: .75rem;
        margin-bottom: 0;
    }
    .box2 h2 {
        font-size: 1.9rem;
    }
    .box2 p {
        font-size: 1rem;
        width: 90%;
        margin: 0 auto;
    }
    .devices {
        margin-top: 3rem;
    }
    .tools {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
    .blacklist img, .text img, .preview img {
        margin: 2rem 0;
    }
    .blacklist h3, .text h3, .preview h3 {
        margin: 1rem 0;
    }
    .icons img {
        width: 37%;
        margin: 0 auto 2rem auto;
    }
    .box4 h2 {
        font-size: 1.9rem;
    }
    .box4 p {
        width: 90%;
        font-size: 1rem;
        margin-bottom: 3rem;
    }
    footer {
        height: 31rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    footer .info {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        font-size: 1rem;
        text-align: center;
    }
    .lg {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-media {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .social-media i{
        margin: 1rem;
    }
}